@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(121, 32, 153, 1) 86%);
  background-attachment: fixed;
}

.container {
  width: 600px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 25px;
}

h1 {
  text-align: center;
  color: #792099;
  font-weight: 600;
  font-size: 24px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input input {
  border-radius: 5px;
  font-size: 18px;
  margin-top: 5px;
  padding: 7px;
  border: 1px solid rgb(34, 193, 195);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input input:focus {
  outline: 0;
}

.input button {
  background-color: #792099;
  color: white;
  border: 1px solid #792099;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  width: 100%;

  position: relative;
  user-select: none;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.input button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 15px #aaa7a7;
}

.input button:active:after {
  box-shadow: 0 0 0 0 #aaa7a7;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

/* Output */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.delete-btn {
  background-color: #792099;
  color: white;
  border: 1px solid #792099;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;

  position: relative;
  user-select: none;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.total {
  width: 600px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 25px;
  color: #792099;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total label:nth-child(2) {
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-align: right;
  padding: 7px;
  border: none;
  background: transparent;
}

/* Media Query */
@media screen and (max-width: 550px) {
  .container {
    width: 95vw;
  }

  .input label {
    font-size: 14px;
  }

  .input input {
    font-size: 14px;
  }

  .input button {
    font-size: 16px;
  }

  .table-responsive {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #ddd;
  }

  th {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
  }

  td {
    background-color: #f4f4f4;
    font-size: 12px;

  }

  .delete-btn {
    font-size: 12px;
  }

  .total {
    width: 95vw;
  }

  .total label:nth-child(2) {
    border-radius: 5px;
    font-size: 16px;
  }
}